.home-container {
  text-align: center;
  margin-top: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.button-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  background-color: #4b7bec;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #3867d6;
}
.register-form .logout-btn {
  background: #f79797;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 25px;
  width: 30%;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.25s ease;
}


.register-form .logout-btn:hover {
  background: #e60000;
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.3);
  transform: translateY(-2px);
}
