
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffd1dc, #ffe8d6, #ffd6f5);
  margin: 0;
  padding: 0;
  color: #333;
}
button.bttn{
    background: rgb(247, 4, 235);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 38px;
  font-weight: 700;
  color: #4f0f72;
}


.two-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px auto 100px;
  max-width: 1000px;
}

.column {
  width:100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.column:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.column h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #6a1b9a;
}

.events-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.event-item {
  background: #faf5ff;
  border: 1px solid #e3c8ff;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 18px;
  box-shadow: 0 4px 12px rgba(150, 0, 255, 0.12);
  transition: all 0.25s ease;
}

.event-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(150, 0, 255, 0.25);
}

.event-item h3 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #8e24aa;
}

.event-item p {
  margin: 4px 0;
  font-size: 14px;
  color: #444;
}

.invite-btn {
  display: block;
  width: 150px;
  margin: 12px auto 0;
  background: linear-gradient(135deg, #ff70d0, #c94ce9);
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
font-size: 600;
  text-align: center;
  transition: 0.25s ease;
}

.invite-btn:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 15px rgba(255, 105, 235, 0.35);
}


.invite-modal {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 28px;
  border-radius: 20px;
  width: 420px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  animation: popIn 0.25s ease;
}

@keyframes popIn {
  from { transform: translateX(-50%) scale(0.85); opacity: 0; }
  to { transform: translateX(-50%) scale(1); opacity: 1; }
}

.user-list {
  max-height: 220px;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fafafa;
}

.user-option {
  display: block;
  margin-bottom: 10px;
}


.cancel-btn {
  background: #ccc;
  padding: 9px 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
  transition: 0.25s ease;
}

.cancel-btn:hover {
  background: #b3b3b3;
}


@media (max-width: 900px) {
  .two-columns {
    flex-direction: column;
    max-width: 90%;
  }

  .column {
    width: 100%;
  }
}
button.decline-btn{
  color: red;
}
button.accept-btn{
  color:green;
}